@import "html5boilerplate";
@import "../tufte-css/tufte";

$blue: #69B9D4;
$green: #8BC53F;
$yellow: #fed831;

html,
body {
  font-family: Realtime;
}

//a {
//  border-bottom: 1px solid darken($blue, 10);
//  color: $blue;
//  &:hover {
//    border-bottom: 1px solid darken($blue, 10);
//    color: $blue;
//  }
//  p & {
//    color: darken($blue, 15);
//  }
//}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link, .tufte-underline, .hover-tufte-underline:hover {
    background-position-y: 95%, 95%, 95%;
  }
}

figure {
  &:hover {
    cursor: zoom-in;
  }
  &.fullwidth {
    &:hover {
      cursor: zoom-out;
    }
    figcaption {
      float: none;
      font-size: 1.1rem;
      margin-right: 0;
      max-width: 62em;
      padding: 0 1em;
    }
  }
}

.am-header {
  background: $green url(../img/alanhead.png) no-repeat;
  background-position: center top 1rem;
  background-size: 5rem auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-top: 7rem;
  text-align: center;
  width: 100%;
}

.am-header__site-title {
  font-family: Popgod;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
}
.am-header__url {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

.am-main__header {
  color: $blue;
  font-family: Popgod;
  font-style: normal;
  font-weight: 400;
  // margin: 3rem 0 1rem 0;
  text-align: left;
}

.am-main__subhead {
  color: $blue;
  font-family: Popgod;
  // font-size: 2rem;
  font-weight: 400;
  // margin-top: 3em;
}

.am-footer {
  font-size: 1rem;
  margin-bottom: 3rem;
  text-align: left;
}

.email-link {
  &:after {
    content: 'contact@alanmoore.info';
  }
}
