@import "html5boilerplate";

$blue: #69B9D4;
$green: #8BC53F;
$yellow: #fed831;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Realtime;
  font-size: 12px;
  line-height: 1.667;
  @media(min-width: 500px) {
    font-size: 14px;
  }
  @media(min-width: 900px) {
    font-size: 15px;
  }
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

a {
  //border-bottom: 1px solid #000;
  color: $blue;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid darken($blue, 10);
    color: $blue;
  }
  p & {
    color: darken($blue, 15);
  }
}

.am-header {
  background: $green url(../img/alanhead.png) no-repeat;
  background-position: center top 1rem;
  background-size: 5rem auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-top: 7rem;
  text-align: center;
  width: 100%;
}

.am-header__site-title {
  font-family: Popgod;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
}
.am-header__url {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}

.am-main {
  //display: flex;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  width: 100%;
  p,
  li {
    letter-spacing: 0.3;
    line-height: 1.6;
    margin-bottom: 1em;
    a {
      font-weight: bold;
    }
  }
  p {
    &:first-of-type {
      font-size: 1.25em;
      font-weight: bold;
    }
  }
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
      padding-left: 1.6em;
      &:before {
        color: $blue;
        content: '▶';
        display: inline-block;
        font-size: 0.6em;
        left: -1.6em;
        position: relative;
        width: 0;
      }
    }
  }
}

.am-intro {
  font-size: 1.5rem;
}

.am-main__header {
  color: $blue;
  font-family: Popgod;
  font-size: 3rem;
  font-weight: 400;
  margin: 3rem 0 1rem 0;
  text-align: left;
}

.am-main__subhead {
  color: $blue;
  font-family: Popgod;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 3em;
}

.am-footer {
  display: grid;
  font-size: 1rem;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 3rem;
  max-width: 60rem;
  padding: 0 1.6rem;
  width: 100%;
  text-align: left;
}



.main-nav {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
}

.nav__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  max-width: 60rem;
  padding: 0 1.6rem;
  .am-footer__nav & {
    flex-direction: column;
  }
}

.nav__item {
  margin: 0 0.5em;
  padding: 0.3em 0.5em;
}

.nav__link {
  text-transform: uppercase;
  color: #000;
  &:hover {
    border-bottom: 1px solid darken($blue, 10);
    color: $blue;
  }
}

.breadcrumbs {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-start;
  justify-self: center;
  max-width: 60rem;
  padding: 0 1.6rem;
  width: 100%;
}

.breadcrumbs__crumb {
  color: #000;
  margin: 0 0.5em;
  padding: 0.3em 0.5em;
  text-transform: uppercase;
  &:before {
    content: '> ';
  }
  &a {
    margin-top: 0;
    margin-bottom: 0;
  }
  &a:hover {
    border-bottom: 1px solid darken($blue, 10);
    color: $blue;
  }
  &:first-child {
    margin-left: 0;
    padding-left: 0;
    &:before {
      display: none;
    }
  }
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.portfolio-item__date {
  flex-basis: 22%;
  padding-right: 2%;
}

.portfolio-item__details,
.portfolio-item__project {
  flex-basis: 66%;margin-bottom: 3rem;
  &:last-child {
    margin-bottom: 0;
  }
  .am-main__subhead {
    margin-top: 0;
    margin-bottom: 0;
    + p {
      margin-top: 0;
    }
  }
}

.portfolio-item__details {
  p,
  .am-main__subhead {
    display: block;
  }
}

.portfolio-item__project {
  margin-left: calc(22% + 5rem);
  font-size: 1.2rem;
}

.portfolio-item__logo {
  display: flex;
  float: left;
  height: 100%;
  margin: 0;
  margin-right: 0.6rem;
  padding: 0.2rem;
  width: 4.4rem;
  .initials,
  img {
    align-self: flex-start;
    background-color: $green;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 2rem;
    height: 4rem;
    justify-self: center;
    text-align: center;
    width: 4rem;
  }
}

.portfolio-item__logo--sd {
  img {
    background-color: #f04c23;
  }
}

.portfolio-item__logo--bs {
  .initials {
    background-color: #556272;
  }
}

.portfolio-item__logo--acgi {
  img {
    background-color: #f47b29;
  }
}

.portfolio-item__logo--regent {
  img {
    background-color: #428BCA;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  li {
    display: flex;
    flex-basis: 50%;
    flex-wrap: nowrap;
    padding-right: 1em;
  }
  date {
    flex-basis: 30%;
    padding-right: 2em;
    width: 30%;
  }
 }

.modal-overlay {
  background-color: transparent;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  user-select: none;
  visibility: hidden;
  z-index: 999;
  &:target {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  a.modal-close {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    transition: opacity 200ms;
    &:hover {
      opacity: 0.4;
    }
  }
}

.modal-window {
  background-color: #fff;
  height: 80vh;
  left: 15vw;
  outline: 2px solid $green;
  padding: 0.3rem;
  position: fixed;
  top: 10vh;
  width: 70vw;
}

.email-link {
  &:after {
    content: 'contact@alanmoore.info';
  }
}
